In [ ]:
import pandas as pd
import numpy as np
import xlrd

In [100]:
df = pd.read_excel('/Users/marius.fall/Downloads/DataPanelWHR2021C2.xls')
region = pd.read_csv('/Users/marius.fall/Downloads/ISO-3166-Countries-with-Regional-Codes-master/all/all.csv')
region_cleaned = region[['name','region','sub-region']]

In [101]:
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.370100,0.450662,50.799999,0.718114,0.167640,0.881686,0.517637,0.258195
1,Afghanistan,2009,4.401778,7.539972,0.552308,51.200001,0.678896,0.190099,0.850035,0.583926,0.237092
2,Afghanistan,2010,4.758381,7.646709,0.539075,51.599998,0.600127,0.120590,0.706766,0.618265,0.275324
3,Afghanistan,2011,3.831719,7.619532,0.521104,51.919998,0.495901,0.162427,0.731109,0.611387,0.267175
4,Afghanistan,2012,3.782938,7.705479,0.520637,52.240002,0.530935,0.236032,0.775620,0.710385,0.267919

In [102]:
df_merged = pd.merge(left=df,right=region_cleaned, left_on='Country name',right_on='name', how='left').drop(['name'], axis=1)

In [103]:
df_merged= df_merged.rename(columns={"Country name":"name"})

In [ ]:
# Put the Dataframe description here
# Variable explanations

In [63]:
unique_countries = df_merged['name'].nunique()

In [105]:
unique_countries

166

In [64]:
lst = [2014+i for i in range(0,6)]

In [106]:
lst

[2014, 2015, 2016, 2017, 2018, 2019]

In [65]:
df_merged[df_merged.year.isin(lst)]

,name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,region,sub-region
6,Afghanistan,2014,3.130896,7.718354,0.525568,52.880001,0.508514,0.104013,0.871242,0.531691,0.374861,Asia,Southern Asia
7,Afghanistan,2015,3.982855,7.701992,0.528597,53.200001,0.388928,0.079864,0.880638,0.553553,0.339276,Asia,Southern Asia
8,Afghanistan,2016,4.220169,7.696560,0.559072,53.000000,0.522566,0.042265,0.793246,0.564953,0.348332,Asia,Southern Asia
9,Afghanistan,2017,2.661718,7.697381,0.490880,52.799999,0.427011,-0.121303,0.954393,0.496349,0.371326,Asia,Southern Asia
10,Afghanistan,2018,2.694303,7.691767,0.507516,52.599998,0.373536,-0.093828,0.927606,0.424125,0.404904,Asia,Southern Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1943,Zimbabwe,2015,3.703191,7.992339,0.735800,53.799999,0.667193,-0.123171,0.810457,0.715079,0.178861,Africa,Sub-Saharan Africa
1944,Zimbabwe,2016,3.735400,7.984372,0.768425,54.400002,0.732971,-0.094634,0.723612,0.737636,0.208555,Africa,Sub-Saharan Africa
1945,Zimbabwe,2017,3.638300,8.015738,0.754147,55.000000,0.752826,-0.097645,0.751208,0.806428,0.224051,Africa,Sub-Saharan Africa
1946,Zimbabwe,2018,3.616480,8.048798,0.775388,55.599998,0.762675,-0.068427,0.844209,0.710119,0.211726,Africa,Sub-Saharan Africa
1947,Zimbabwe,2019,2.693523,7.950132,0.759162,56.200001,0.631908,-0.063791,0.830652,0.716004,0.235354,Africa,Sub-Saharan Africa

[2014, 2015, 2016, 2017, 2018, 2019]

166

In [75]:
check_ratio = {i:round((df_merged[df_merged.year == i]['name'].nunique()/unique_countries)*100-100,2) for i in lst}
print(check_ratio)

{2014: -12.65, 2015: -13.86, 2016: -14.46, 2017: -11.45, 2018: -14.46, 2019: -13.25}

In [71]:
# We see that we have less than 15% of discrepancy regarding the total number of countries : the quality is good enough to work with it

In [86]:
region_vision = df_merged.groupby(['name','region','sub-region']).mean().reset_index()[['name','region','sub-region','Life Ladder']]

In [107]:
region_vision.head()

          name    region                       sub-region  Life Ladder
0  Afghanistan      Asia                    Southern Asia     3.594628
1      Albania    Europe                  Southern Europe     5.019427
2      Algeria    Africa                  Northern Africa     5.389717
3       Angola    Africa               Sub-Saharan Africa     4.420299
4    Argentina  Americas  Latin America and the Caribbean     6.310166

In [ ]:
#Scatter plot to check the distribution by country and region

In [ ]:
# Let's check Europe region and break it down by subregion

In [ ]:
# Using a violin plot visualisation : we can observe that...